replicaCount: 2

image:
  repository: maorgigi/myapp
  tag: "a847f88"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

configmap:
  APP_ENV: "default"
  LOG_LEVEL: "info"

ingress:
  enabled: false
  host: ""
  annotations: {}

daemonset:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
